<footer class="footer-section">
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 text-center text-lg-center">
          <div class="copyright-text">
            <h1>This is Angular Footer application</h1>

            <p>
              Copyright &copy; 2021, All Right Reserved
              <a href="mailto:sachinpatilmca@yahoo.in">Contact Dev</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
